.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 6rem;
  min-height: 100vh;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 4rem 0;
}

.drawerContentsList {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.modalHeader {
  display: flex;
  align-items: center;
  max-width: 170px;
  justify-content: space-between;
}


/* Mobile */
@media (max-width: 700px) {
  .center {
    padding: 8rem 0 6rem;
  }
}