.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  overflow: scroll;
}

.center {
  display: flex;
  position: relative;
}

.drawerContentsList {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.modalHeader {
  display: flex;
  align-items: center;
  max-width: 170px;
  justify-content: space-between;
}

.table {
  width: 1400px;
  max-width: 1400px;
}


/* Mobile */
@media (max-width: 700px) {

  .main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow: scroll;
    justify-content: center;
    align-items: unset;
  }

  .center {
    display: flex;
    position: relative;
  }
}